NODE_ENV=development
NODE_OPTIONS=--max_old_space_size=4096
GENERATE_SOURCEMAP=false

DB_HOSTNAME="localhost"
DB_USERNAME="root"
DB_PASSWORD=""
DB_NAME="islandrushdb"

CD_SECTION="CourseDirector"
CD_LASTNAME="Smith"
CD_PASSWORDHASH="912ec803b2ce49e4a541068d495ab570"

SESSION_TYPE=loki
SESSION_SECRET=supersecret
AZURE_STORAGE_CONNECTION_STRING=put_connection_string_here_if_session_type_is_azure

REDIS_ACTIVE=false
REDISCACHEHOSTNAME=<dnsname>.redis.cache.windows.net
REDISCACHEKEY=primarykey