{
    "extends": [
        "airbnb-typescript/base"
    ],
    "rules": {
        "linebreak-style": "off",
        "object-curly-newline": "off",
        "comma-dangle": "off",
        "@typescript-eslint/indent": [
            "off",
            4
        ],
        "max-len": "off",
        "global-require": "off",
        "no-console": "off",
        "no-restricted-syntax": "off",
        "no-param-reassign": "off",
        "no-self-assign": "off",
        "import/no-cycle": "off",
        "no-plusplus": "off",
        "no-await-in-loop": "off",
        "radix": "off",
        "no-case-declarations": "off",
        "operator-linebreak": "off",
        "no-shadow": "off",
        "arrow-parens": "off",
        "no-continue": "off",
        "no-nested-ternary": "off",
        "import/export": "warn",
        "import/prefer-default-export": "off"
    },
    "ignorePatterns": [
        "dist",
        "node_modules",
        "src/react-client"
    ]
}